<div class="container animated zoomInDown contenido" autoscroll="true">
<h2 class="green-header animated bounceInDown">Garantías</h2>
<h3>Garantía Ofera</h3>
<p>
  En la mayoría de nuestros artículos contamos con garantía de 1 año que se empezará a contar al concretar la compra, te sugerimos guardar tu comprobante de compra y factura. En algunos artículos la garantía es de 4 años con opción a comprar ampliación a 5 años. </p>
<p>
Productos con defectos de fábrica se realiza cambio físico y envío gratis en ordenes arriba de $1200 pesos. Al informar esta situación y a la brevedad, daremos una solución según corresponda: cambio físico del artículo, devolución del dinero o direccionamiento a centros de servicio del fabricante. Te ayudamos a solucionar cada caso.</p>

<p> <span> En caso de contar con existencias la solicitud se deberá hacer dentro de los 5 días hábiles iniciada la compra, unicamente mal funcionamiento de fábrica. </span> </p>

<p>Si tu compra presenta daños en su empaque te sugerimos no recibirlo. O en su caso te sugerimos tomar fotografías a modo de evidencias, comunícate lo antes posible con el servicio que entregó tu paquete. Importante: las paqueterías solo aceptan quejas en las primeras 72 horas, pasado este periodo no hay responsabilidad por los daños presentados. El levantar este reporte no es garantía de reposición o indemnización por lo que sugerimos revisar el paquete antes de firmar de entregado.</p>

<h3>Devoluciones: en caso de necesitar devolver tu compra es importante que revises los siguientes puntos:</h3>

<p>En caso de haber pasado mas de 5 días hábiles no será posible generar cambio físico.</p>

<p>En caso de solicitar entrega a domicilio verifica que el paquete no presente daños en el empaque que esté sellado y sin marcas de haber sido extraído de su caja o envoltorio, una vez que firmas de entregado no nos hacemos responsables por el funcionamiento o devolución del artículo.</p>

<p>Solicita la devolución de tu artículo por los diferentes medios de contacto disponibles te daremos instrucciones.</p>

<p>Al recibir tu articulo de retorno se revisará con el área de soporte para revisar</p>

<p>Los gastos de envío corren por cuenta del comprador. <br><br>Exclusiones de cambio físico:</p>

<ol>
  <li> Cuando no se cumplan con los términos y plazos estipulados.</li>
  <li> Por el uso indebido del producto o no haya sido utilizado en base al instructivo y/o manual del fabricante.</li>
  <li> El producto haya sido intervenido o alterado.</li>
  <li> El producto se encuentre roto, golpeado o rayado.</li>
  <li> La falla sea provocada por la instalación de cualquier software o agentes externos.</li>
  <li> El producto tenga pixeles dañados (notebook y monitor con pantallas de LCD). Cada fabricante tiene establecido un mínimo de píxeles dañados para hacer cambio de equipo.</li>
</ol>
<div>
