<div class="main container lineas-negocio-div animated4 fadeIn">
    <h2>Ofera</h2>
    <p>Ofera cuenta con gran diversidad de productos
    de tecnología y telecomunicaciones, con atención y servicio
    para el público en general con precios inmejorables.
    Conoce nuestros precios cotizando en el formulario.</p>
    <br>

    <div class="links">
        <a [routerLink]="['/slider']" class="boton">
        conoce más
        </a>
    </div>
  </div>

  <section class="tiendas-oficiales-section animated4 fadeInUp">
    <h3 class="purple-header">Nuestras tiendas oficiales</h3>
    <div class="container tiendas-oficiales">
        <div class="tienda">
          <a href="https://listado.mercadolibre.com.mx/_CustId_80169892" target="_blank"> <img src="./assets/img/ofera_shop.png" alt="ofera"> </a>
        </div>
        <div class="tienda">
          <a href="https://listado.mercadolibre.com.mx/xbox_CustId_193772565#D[A:XBOX,SI:193772565]" target="_blank"> <img src="./assets/img/xbox.png" alt="xbox"> </a>
        </div>
        <div class="tienda">
          <a href="https://listado.mercadolibre.com.mx/lg_CustId_193772565#D[A:lg,SI:193772565]" target="_blank"> <img src="./assets/img/lg.png" alt="lg"> </a>
        </div>
        <div class="tienda">
          <a href="https://tienda.mercadolibre.com.mx/tripp-lite" target="_blank"> <img src="./assets/img/tripplite.png" alt="tripplite"> </a>
        </div>
        <div class="tienda">
          <a href="https://tienda.mercadolibre.com.mx/polaroid" target="_blank"> <img src="./assets/img/polaroid.png" alt="polaroid"> </a>
        </div>
        <div class="tienda">
          <a href="https://tienda.mercadolibre.com.mx/tenda" target="_blank"> <img src="./assets/img/tenda.png" alt="tenda"> </a>
        </div>
    </div>
  </section>
