<div class="main">
  <h3 class="green-header animated fadeIn">Solicitud para cotizar</h3>

  <form class="formulario animated slideInUp" action="index.html" method="post">
    <div class="left-form">
      <input type="text" name="nombre" placeholder="Nombre:">
      <input type="text" name="telefono" placeholder="Teléfono:">
      <input type="text" name="correo" placeholder="Correo electrónico:">
    </div>
    <div class="right-form">
      <input type="text" name="descripcion" placeholder="Descripción:">
      <input type="text" name="cantidades" placeholder="Cantidades:">
      <input type="text" name="partes" placeholder="# de partes:">
    </div>


  </form>

  <br>
  <br>
  <div class="boton-cotizar animated4 fadeIn">
    <a class="boton" href="#">Enviar</a>
  </div>
</div>
