
<div class="main home-link animated bounceInDown">

<div class="texto-entrada">
  <div class="parrafos-entrada">
    <p>Nos encanta</p>
    <p>verte sonreir</p>
  </div>
  <br>
  <br>
    <a class="boton" id="boton-inicio" [routerLink]="['/lineas-negocio']"><span>Entrar</span></a>
</div>
<img id="circle-index1" class="animated20 bounceInLeft" src="./assets/img/circulo-01.svg" width="220px" alt="">
<img id="circle-index2" class="animated20 bounceInRight" src="./assets/img/circulo-02.svg" width="220px" alt="">
</div>
