<div class="preguntas-div animated bounceIn" autoscroll="true">
<h2 class="green-header">Preguntas frecuentes</h2><br>
<p class="pregunta-morada">Entregas de factura</p>
<p>En todas nuestras ventas enviamos un mensaje con un enlace desde el cual puedes descargar tu factura, en caso
de no poder descargar tu factura por favor envíanos tus datos de facturación.</p><br>

<p class="pregunta-morada">¿Acabo de realizar mi compra, puedo pasar a recolectar mi artículo el mismo día?</p>
<p>En caso de realizar una compra con entrega en nuestras oficinas, esta se efectuará al día hábil posterior a tu compra en horario de 3:30 PM a 6:30 PM.</p><br>

<p class="pregunta-morada">Tiempos de envío:</p>
<p>El envío puede demorar de 3 a 5 días hábiles posteriores a la venta.</p><br>
<p class="pregunta-morada">¿Qué necesito presentar para la entrega?</p>
<p>Para la entrega de tu compra es necesario que presentes tu identificación oficial vigente. puedes mandar a alguien mas para su recolección, sera necesario presentar carta firmada donde autorizas la recolección y copia de tu identificación</p><br>

<p class="pregunta-morada">¿Los artículos son originales?</p>
<p>Todos nuestros artículos son 100% originales y se entregan sellados.</p><br>

<p class="pregunta-morada">¿Disponibilidad de artículos?</p>
<p>Tenemos stock disponible de nuestros artículos publicados, en caso de requerir varias piezas, es recomendable consultar existencias en sección de preguntas.</p><br>

<p><span>Por el momento la venta de artículos se limita a la república mexicana</span></p>
</div>
