<div class="slider-contenedor">
<div id="carouselExampleIndicators" class="carousel slide vertical" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="linea-producto">
        <div class="info-left">
          <h2 class="green-header">Electrónica</h2>
          <p>Artículos electrónicos como:</p>
          <ul>
            <li><span>Pantallas de TV</span></li>
            <li><span>Cámaras</span></li>
            <li><span>Equipo de audio</span></li>
            <li><span>Electrodomésticos</span></li>
          </ul>
        </div>
        <div class="info-right">
          <img id="circle1" class="cir1" src="../../../../assets/img/circulo-01.svg" width="220px" alt="">
          <img id="circle2" class="cir2" src="../../../../assets/img/circulo-02.svg" width="220px" alt="">
          <img id="electronica-img" src="../../../../assets/img/camara.png" width="500" height="500"alt="ofera electronica">
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="linea-producto">
        <div class="info-left">
          <h2 class="green-header">Cómputo</h2>

          <ul>
            <li><span>Laptops</span></li>
            <li><span>Computadoras</span></li>
            <li><span>Monitores</span></li>
            <li><span>Workstation</span></li>
            <li><span>Servidores</span></li>
            <li><span>Gamming Devices</span></li>
            <li><span>Impresoras</span></li>
            <li><span>Equipos POS</span></li>
          </ul>
        </div>
        <div class="info-right">
          <img id="circle3" class="cir1"src="../../../../assets/img/circulo-01.svg" width="280px" alt="">
          <img id="circle4" class="cir3"src="../../../../assets/img/circulo-02.svg" width="280px" alt="">
          <img id="img-computo" src="../../../../assets/img/macbook.png" width="500" height="500"alt="ofera electronica">
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="linea-producto">
        <div class="info-left">
          <h2 class="green-header">Redes</h2>
          <ul>
            <li><span>Repetidores</span></li>
            <li><span>Switches</span></li>
            <li><span>Routters</span></li>
            <li><span>Dongles</span></li>
          </ul>
        </div>
        <div class="info-right">
          <img id="circle5" class="cir1"src="../../../../assets/img/circulo-01.svg" width="190px" alt="">
          <img id="circle6" class="cir4"src="../../../../assets/img/circulo-02.svg" width="190px" alt="">
          <img src="../../../../assets/img/routers.png" width="500" height="500"alt="ofera electronica">
        </div>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>
