
<footer id="footer">
    <div class="footer-columns">

      <div class="contacto-div">
        <p>
          <span>Horarios de Atención:</span><br>
          Lunes a viernes 8:00 a 18:00 Hrs.
        </p>
        <p>
          <span>Teléfonos:</span><br>
          (55) 5355 3086 <br>
          (55) 2631 7261 <br>
          (55) 2631 7150
        </p>

      </div>

      <div class="contacto-div">
        <p>
          <span>Extensiones:</span><br>
          Ventas: 610<br>
          Soporte: 615<br>
          Servicio al cliente: 613
        </p>
      </div>
      <div class="contacto-div">
        <p>
          <span>Ciudad de México</span><br>
          Privada Corina 22, Col. del Carmen,  04100<br>
          Del. Coyoacán, CDMX
        </p>
        <p>
          <span>Estados Unidos</span><br>
          3204 Crescendo St. Las Vegas Nevada 89129
        </p>
      </div>
      <div class="footer-left">
        <p>Síguenos en redes sociales</p>
        <div class="redes-sociales">
          <a href="https://www.facebook.com/Ofera-985180391655006/?modal=admin_todo_tour" target="_blank"><i class="fa fa-facebook red-social" aria-hidden="true"></i></a>
          <a href="https://twitter.com/Ofera_Shop" target="_blank">  <i class="fa fa-twitter red-social" aria-hidden="true"></i></a>
          <a href="https://www.instagram.com/ofera_shop/" target="_blank"><i class="fa fa-instagram red-social" aria-hidden="true"></i></a>
          <a href="https://www.youtube.com/channel/UCYGGI38ICJfWyAXPo83V7MQ?view_as=subscriber" target="_blank"><i class="fa fa-youtube-play red-social" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>


<!-- <nav class="nav-footer">
    <ul>
        <li> <a id="link-garantia"  [routerLink]="['garantia']">Garantías</a> </li>
        <li> <a id="link-preguntas" [routerLink]="['preguntas-frecuentes']">Preguntas frecuentes</a> </li>
         <li>

              <img id="oferin" src="./assets/img/carita_ofera.svg" width="50" alt="ofera">
              <a [routerLink]="['cotizar']"> <span> Cotizar </span> </a>

        </li>
    </ul>
</nav> -->

<div class="footer-left2 hidden">
    <p>Síguenos en redes sociales</p>
    <div class="redes-sociales">
      <a href="https://www.facebook.com/Ofera-985180391655006/?modal=admin_todo_tour" target="_blank"><i class="fa fa-facebook red-social" aria-hidden="true"></i></a>
      <a href="https://twitter.com/Ofera17" target="_blank">  <i class="fa fa-twitter red-social" aria-hidden="true"></i></a>
      <a href="https://www.instagram.com/ofera_/" target="_blank"><i class="fa fa-instagram red-social" aria-hidden="true"></i></a>
      <a href="https://www.youtube.com/channel/UCYGGI38ICJfWyAXPo83V7MQ?view_as=subscriber" target="_blank"><i class="fa fa-youtube-play red-social" aria-hidden="true"></i></a>
    </div>
    <p id="copyright2">Copyright 2018. Todos los derechos reservados.</p>
</div>

</footer>
<div class="copyright-section" id="copyright-footer">
  <p id="copyright">Copyright 2018. Todos los derechos reservados.</p>
</div>
